import { Plugin } from '@modu-nest/plugin-types';
import { <%= className %>Service } from './<%= name %>.service';
import { <%= className %>Controller } from './<%= name %>.controller';

@Plugin({ 
  controllers: [<%= className %>Controller],
  providers: [<%= className %>Service],
  exports: [<%= className %>Service],
})
export class <%= className %>Module {}