import { PluginRoute, PluginGet } from '@modu-nest/plugin-types';
import { <%= className %>Service } from './<%= name %>.service';

@PluginRoute('<%= name %>')
export class <%= className %>Controller {
  constructor(private readonly <%= propertyName %>Service: <%= className %>Service) {}

  @PluginGet()
  getHello(): string {
    return this.<%= propertyName %>Service.getHello();
  }
  
  // Add your plugin controller methods here
}