import { PluginInjectable } from '@modu-nest/plugin-types';

@PluginInjectable()
export class <%= className %>Service {
  
  getHello(): string {
    return 'Hello from <%= className %> plugin!';
  }
  
  // Add your plugin service methods here
}