{
  "name": "<%= name %>",
  "version": "1.0.0",
  "description": "<%= className %> plugin for modu-nest",
  "author": "Plugin Developer",
  "license": "MIT",
  "dependencies": [],
  "loadOrder": 100,
  "module": {
    "controllers": [
      "<%= className %>Controller"
    ],
    "providers": [
      "<%= className %>Service"
    ],
    "exports": [
      "<%= className %>Service"
    ],
    "imports": []
  }
}